<!DOCTYPE html>
{%  load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="img/jpg" href="{% static 'bici/img/Loggo.jpg' %}">
    <link rel="stylesheet" href="{% static 'bici/styleInicioSesion.css' %}">
    
    <title>Inicio Sesión</title>
</head>
<body style="background-image: url('{% static 'bici/img/fontForm.jpg' %}')";>
  <div class="container-form sign-up">
    <div class="welcome-back">
        <div class="message">
            <h2>Bienvenido a CAZA BIKE!</h2>
            <p>¿Aún no tienes una cuenta?</p>
            <p>Registrate aquí</p>
            <a href="registro.html"><button class="sign-reg-btn">Registrarse</button></a>
            <br>
            <a href="index.html"><button class="volver">Volver</button></a>
        
        </div>
    </div>


    <div class="inicio">
      <div class="login-container">
          <div class="login-info-container">
            <h1 class="title">Iniciar Sesión</h1>
              <form class="inputs-container" id="formulario_contacto">
                  <input class="input" type="text" name="email" id= "email" placeholder="Email">
                  <input class="input" type="password" name="password" id="password" placeholder="Contraseña">
                  <button class="btn">Iniciar Sesión</button>
              </form>
          </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>

  <script src="{% static 'bici/js/traducciones.js' %}"></script>
  <script src="{% static 'bici/js/jquery.js' %}"></script>
  <script src="script.js"></script>

</body>
</html>